.scroll-action {
	text-align: center;
	padding-bottom: 80px;
	position: relative;
	z-index: 20;
	display: none;
	@screen md {
		display: block;
	}
	.scroll-action-link {
		display: inline-block;
		transition: 0.3s all;
		position: relative;
		width: 28px;
		height: 40px;
		cursor: pointer;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 28px;
			margin-top: 0;
			animation: bounce 1s infinite alternate;
		}
	}
}
