// Import compass mixins
@import '~compass-mixins/lib/_compass.scss';
// Import bootstrap for grid mixins
@import '~bootstrap/scss/bootstrap-grid.scss';

// COLORS
$purple: #62278d;
$dark-purple: darken($purple, 10);
$light-purple: lighten($purple, 10);
$bluegrey: #f4f6f8;
$sectionTitle: #5c2cb5;
$sectionTitleSmall: #5c80da;
$sectionSubTitle: #637381;
