<section id="projects">
  <div class="section-heading">
    <h3 class="section-title">Featured <small>projects</small></h3>
    <h4 class="section-subtitle">Some of the awesome projects I have been working with</h4>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="card-deck">

          <div class="card">
            <img class="card-img-top" src="assets/img/aguaparaofuturo.jpg" alt="Water for the future">
            <div class="card-body">
              <h4 class="card-title">Water for the future</h4>
              <p class="card-text">Led the design and development of website and mobile app for a governmental project for natural water springs protection</p>
              <span class="badge badge-info">2016/2017</span><small class="muted"> Angular, Ionic, iOS, Android, TypeScript, PHP, MySQL, Joomla!, SASS, Gulp, GIT</small>
            </div>

            <div class="card-footer">
              <a href="http://aguaparaofuturo.mpmt.mp.br" target="_blank">Project's Website</a> | <a href="https://www.behance.net/gallery/58915907/Agua-para-o-Futuro" target="_blank">Behance page</a>
            </div>
          </div>

          <div class="card">
              <img class="card-img-top" src="assets/img/vmscard.jpg" alt="VMS Card">
            <div class="card-body">
              <h4 class="card-title">VMS Card</h4>
              <p class="card-text">Full Angular web app for the regional hospital’s health plan</p>
              <span class="badge badge-info">2017</span><small class="muted"> Angular, TypeScript, Ruby on Rails, PostgreSQL, SASS, GIT</small>
            </div>
            <div class="card-footer">
                <a href="http://cartaovms.com.br" target="_blank">Project's Website</a>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="assets/img/letsconciliate.jpg" alt="Let's Conciliate">
            <div class="card-body">
              <h4 class="card-title">Let's conciliate</h4>
              <p class="card-text">Design and front-end development of a clean cut legal conciliation Rails app.</p>
              <span class="badge badge-info">2016</span><small class="muted"> Ruby on Rails, Coffee, Sass, Git, Trello, Scrum/Agile</small>
            </div>
            <div class="card-footer">
                <a href="http://letsconciliate.com/" target="_blank">Project's Website</a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

</section>
