<header>
  <div class="container">
    <div class="row">

      <div class="col-md-6 box-title">
        <p class="upper-title">Hi, I am Tiago Donatti</p>
        <h1 class="title">Front-end Developer</h1>
        <p class="sub-title">Welcome to my small spot on the web cosmos where you can know more about me and my work. Buckle up and let’s go!</p>
      </div>

      <div class="majortom">
        <img class="img-fluid" src="assets/img/majortom-header.svg" alt="Major Tom">
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="scroll-action">
          <a scrollTo="about" duration="1000" offset="-100" class="scroll-action-link"><img src="assets/img/icon-scroll.svg"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="stars"></div>
  <div class="stars1"></div>
  <div class="stars2"></div>
  <div class="shooting-stars"></div>

  <div class="hills-back"><img src="assets/img/hills-back.svg"></div>
  <div class="hills-front"><img src="assets/img/hills-front.svg"></div>

  <div class="pentagon pos1"><img src="assets/img/pentagon.svg"></div>
  <div class="pentagon pos2"><img src="assets/img/pentagon-outline.svg"></div>
  <div class="pentagon pos3"><img src="assets/img/pentagon.svg"></div>
  <div class="pentagon pos4"><img src="assets/img/pentagon-outline.svg"></div>
  <div class="pentagon pos5"><img src="assets/img/pentagon.svg"></div>
  <div class="pentagon pos6"><img src="assets/img/pentagon.svg"></div>
  <div class="pentagon pos7"><img src="assets/img/pentagon-outline.svg"></div>
</header>
