<section id="about">

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="section-heading">
          <h3 class="section-title">Intro <small>about me</small></h3>
          <h4 class="section-subtitle">sLorem ipsum dolor sit amet, consectetur adipis</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <p>Front-end developer with more than 10 years of hands-on experience efficiently coding websites, web applications and mobile apps using the most modern technology assets.</p>
          <p>Building awesome, easy to use, fast and result oriented websites and apps is truly a passion of mine. I actively seek out new technologies and stay up-to-date on industry trends and advancements.</p>
          <p>To demonstrate a bit of my design and front-end skills I built this personal website. The name and theme of the website is a reference about the music Major Ton. Represents my full commitment in throw myself in the discover of all corners of this epic universe of web development.</p>
          <p>This website is developed using Angular and you can check the full code of this website in my GitHub repository with some extra open source projects that I recently published</p>
          <p>Feel free to message at contact@tiagodonatti.ca.</p>
          <p>Any tips are well come.</p>
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <div class="ship">
          <img src="assets/img/ship.svg">
          <div class="ship-background">
            <img src="assets/img/ship-background.svg">
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
