<section id="about">

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="section-heading">
          <h3 class="section-title">Intro <small>about me</small></h3>
          <h4 class="section-subtitle">Father of two, husband and Major Explorer in this vast web development universe.</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <p>It’s about 10 years since I accepted the mission and take out in this space ship to the vast web developer universe. Was a turbulent start with huge IE6 time sinks and painful plain CSS2 styles sheets. New mobile technology has arrived in the cosmos and I managed to change my old Flash engine to a new JavaScript based engine and was able to travel several light years forward.</p>
          <p>Build awesome, easy to use and fast apps is truly a passion of mine. I actively seek out new planets and technologies, exploring the unknown parts of the galaxy to stay up-to-date on industry trends and alien advance technology.</p>
          <p>If you are an explorer, like me, and seek to know more, go straight to my Bahance and my Git Hub profile, where this angular website is there to you to explore at will.</p>
          <p>Intergalactic message can be sent to contact@tiagodonatti.ca</p>
          <p><strong>Live long and prosper</strong></p>

        </div>
      </div>
      <div class="col-md-6 position-relative">
        <div class="ship">
          <img [@scrollAnimation]="state" src="assets/img/ship.svg">
          <div class="ship-background">
            <img src="assets/img/ship-background.svg">
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
