// Import global variables
@import '../../../assets/scss/_utils.scss';

#about {
  .about-text {
    text-align: center;
    margin-bottom: 3em;
    @include media-breakpoint-up(md) {
      text-align: left;
    }
  }
  .ship {
    width: 80%;
    margin: 0 10%;
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 30px;
      left: auto;
      right: 0;
      width: 300px;
    }
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: 50px;
      left: auto;
      right: 0;
      width: 375px;
    }
    .ship-background {
      position: absolute;
      width: 100%;
      z-index: -1;
      bottom: -50px;
      right: 0;
    }
  }

}
