<section id="about">

  <div class="container">

    <div class="row">
      <div class="col">
        <div class="section-heading">
          <h3 class="section-title">Intro <small>about me</small></h3>
          <h4 class="section-subtitle">Father of two, husband and Major Explorer of this vast web development universe.</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="about-text">
          <p>It’s been about 10 years since I accepted the mission and took off in my spaceship to the vast Web Developer Universe. It was a turbulent start with huge IE6 time sinks and painful plain CSS2 styles sheets. New mobile technology had arrived in the cosmos and I managed to change my old Flash engine into a new JavaScript based engine and was able to travel several light years ahead.</p>
          <p>BAwesomely built, easy-to-use fast apps are truly a passion of mine. I actively seek out new ‘planets’ and technologies, exploring the unknown parts of the galaxy to stay up-to-date not only with the latest industry trends but also any ‘alien’ advanced technology. ;)</p>
          <p>If you are an explorer, like me, willing to know more about things, go straight to my Bahance and my Git Hub profile, where this angular website is there for you to explore at will.</p>
          <p>Intergalactic messages can be sent to my e-mail contact@tiagodonatti.net</p>
          <p><strong>Live long and prosper</strong></p>

        </div>
      </div>
      <div class="col-md-6 position-relative">
        <div class="ship">
          <img [@scrollAnimation]="state" src="assets/img/ship.svg">
          <div class="ship-background">
            <img src="assets/img/ship-background.svg">
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
