<app-header></app-header>

<app-about></app-about>

<app-phrases></app-phrases>

<app-skillstats></app-skillstats>

<div class="mid-position">

      <div class="majortom-flag">
        <img src="assets/img/majortom-flag.svg">
      </div>

      <div class="btn-box">
        <h3>Let's stay connected</h3>
        <a href="https://www.behance.net/proartti" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-behance"></i> <span>Behance</span></a>
        <a href="https://github.com/proartti/" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-github"></i> <span>GitHub</span></a>
        <a href="https://www.linkedin.com/in/proartti/" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        <a href="https://twitter.com/tiagodonatti" class="btn btn-primary btn-lg" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>

      </div>


  <div class="hill-flag">
    <img src="assets/img/hill-flag.svg">
    <div class="hill-flag-background">
      <img src="assets/img/hill-flag-background.svg">
    </div>
  </div>

</div>

<app-projects></app-projects>

<footer>
  2017 - All rigths reserved
</footer>
