// COLORS
$purple: #62278d;
$spacepurple: #3b1652;
$dark-purple: darken($purple, 10);
$light-purple: lighten($purple, 10);
$bluegrey: #f4f6f8;
$midgrey: #d1d0d6;
$goldyellow: #e8ba0c;
$sectionTitle: #5c2cb5;
$sectionTitleSmall: #5c80da;
$sectionSubTitle: #637381;
