@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utils';

// Import compass mixins
@import '~compass-mixins/lib/compass';

// Adobe Fonts
@import url('https://use.typekit.net/vse6egl.css');

// General styles
:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

// SECTIONS
section {
	padding: 6em 0;
	background-color: $bluegrey;

	.section-heading {
		text-align: center;
		margin-bottom: 6em;

		.section-title {
			font-family: 'industry-inc-base', sans-serif;
			text-transform: uppercase;
			color: $sectionTitle;
			font-size: 2em;
			margin-bottom: 0;
			@screen md {
				font-size: 2.5em;
			}

			> small {
				font-family: 'roboto-condensed', sans-serif;
				font-weight: 300;
				text-transform: uppercase;
				color: $sectionTitleSmall;
				font-size: 1em;
			}
		}

		.section-subtitle {
			font-family: 'roboto', sans-serif;
			color: $sectionSubTitle;
			margin: 0 1em;
		}
	}
}

footer {
	padding: 1em;
	background-color: $bluegrey;
	text-align: center;
	font-family: 'roboto-condensed', sans-serif;
	font-weight: 300;
}
