@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'utils';

// Import compass mixins
@import '~compass-mixins/lib/compass';

// Adobe Fonts
@import url('https://use.typekit.net/vse6egl.css');

// Tailwind colors variables
@layer base {
	:root {
		--purple: 98 39 141;
		--space-purple: 59 22 82;
		--blue-grey: 244 246 248;
		--mid-grey: 209 208 214;
		--gold-yellow: 232 186 12;
		--section-title: 92 44 181;
		--section-title-small: 92 128 218;
		--section-subtitle: 99 115 129;
	}
}

footer {
	padding: 1em;
	background-color: $bluegrey;
	text-align: center;
	font-family: 'roboto-condensed', sans-serif;
	font-weight: 300;
}
