.ship-container {
	position: relative;
	.ship {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		max-width: 400px;
		@screen md {
			max-width: 325px;
			width: 65%;
		}
		@screen lg {
			max-width: 3750px;
			width: 80%;
		}
		@screen xl {
			max-width: 400px;
		}
	}
	.ship-background {
		display: flex;
		width: 100%;
		justify-content: center;
		img {
			height: 450px;
			aspect-ratio: 43/50;
			@screen md {
				height: 400px;
			}
			@screen lg {
				height: 450px;
			}
			@screen lg {
				height: 500px;
			}
		}
	}
}
