// Import global variables
@import '../../../assets/scss/_utils.scss';

span {
  width: 12%;
  @include media-breakpoint-up(md) {
    width: 15%;
  }
  &.grey-star {
    path {
      fill: $midgrey;
    }
  }
  &.gold-star {
    path {
      fill: $goldyellow;
    }
  }
  &.half-star {
    path {
      fill: url(#half);

    }
  }
}
