
  <span *ngFor="let className of starsClass"
  [class]="className">

    <svg viewBox="0 0 74 70">
      <defs>
          <linearGradient id="half" x1="100%" y1="50%" x2="0%" y2="50%" >
          <stop offset="0%" style="stop-color:rgb(209,208,214);stop-opacity:1" />
          <stop offset="49%" style="stop-color:rgb(209,208,214);stop-opacity:1" />
          <stop offset="50%" style="stop-color:rgb(232,186,12);stop-opacity:1" />
          <stop offset="100%" style="stop-color:rgb(232,186,12);stop-opacity:1" />
          </linearGradient>
      </defs>
      <path d="M425,292l12.33,21.81L462,318.74l-17,18.41L447.87,362,425,351.56,402.13,362,405,337.14l-17-18.41,24.67-4.93Z"
        transform="translate(-388 -292)"/>
    </svg>
</span>


